* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: bisque;
}

h1 {
    text-align:center;
    color: darkred;
}

.title {
    color: black;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #1165ed;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #b611ed;
}

.nav li:hover {
    background-color: #d576f5;
}

ol, li {
    list-style: none;
}

span {
    color: red;
}

.homepage {
    background-color: bisque;
}